<!DOCTYPE html> <!--THIS IS THE NEW PAGE-->
<html lang="en">
<head>
    <% include ../partials/head%>
</head>

<body class="container-fluid">

<% include ../partials/nav%>

<main>
    <div class="input-group">


    </div>

    <h1>Edit Contact</h1>

    <form action="/contacts/contactList/<%=contact._id%>?_method=PUT" method="POST">
        <div class="input-group" name="addNewContact">
            <input type="text" class="form-control" name='firstName' value="<%= contact.firstName%>" placeholder="Contact first name" >
            <input type="text" class="form-control" name='lastName' value="<%= contact.lastName%>" placeholder="Contact last name" >
            <input type="text" class="form-control" name='meetingPlace' value="<%= contact.meetingPlace%>" placeholder="Meeting place" >
            <input type="text" class="form-control" name='phoneNumber' value="<%=contact.phoneNumber%>" placeholder="Contacts phone #" >
            <input type="text" class="form-control" name='email' value="<%=contact.email%>"placeholder="Contacts email" >
            <input type="text" class="form-control" name='dateMet' value="<%=contact.dateMet%>" placeholder="Date met" >
            <input type="text" class="form-control" name='url' value="<%=contact.url%>" placeholder="Linkdin/person URL" >
            <input type="text" class="form-control" name='workPlace' value="<%=contact.workPlace%>"placeholder="Contacts current/previous workplace" >
            <input type="text" class="form-control" name='positionThere' value="<%=contact.positionThere%>" placeholder="Contacts position there" >
            <textarea name='positionsInterestedIn' placeholder="Positions you are interested in:"> <%= contact.positionsInterestedIn %> </textarea>

        </div>


        <input class="btn btn-primary" type="submit">

    </form>

</main>


<footer>
    <% include ../partials/footer%>
</footer>


</body>
