<!DOCTYPE html> <!--THIS IS THE NEW PAGE-->
<html lang="en">
<head>
    <% include ../partials/head%>
</head>

<body class="container-fluid">

<% include ../partials/nav%>

<main>
    <div class="new contact">
        <p>First Name: <%= contact.firstName %></p>
        <p>Last Name: <%= contact.lastName %></p>
        <p>Meeting Place: <%= contact.meetingPlace %></p>

    </div>

    <a class="btn btn-primary" href="/contacts/contactList/<%= contact._id %>/contactEdit">Edit</a>

    <form action="/contacts/contactList/<%=contact._id%>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">DELETE</button>
    </form>


</main>


<footer>
    <% include ../partials/footer%>
</footer>


</body>
